@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf');
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgDark: #00081F;
    --fontDark: #ffffff;
    --bgLight: #E7E7E7;;
    --fontLight: #000F20;
}

html {
    scroll-behavior: smooth;
    cursor: none;
}

a, button, input, label, textarea, img, svg, .checkbox {
    cursor: none;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: var(--bgDark);
}

.customCursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e3e3e3c1;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.customCursor::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #111;
    background: #f4f4f4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (pointer: coarse) {
    .customCursor {
        display: none;
    }
}

/* Navbar Desktop */

nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    margin: 0 3rem;
    position: relative;
}

nav a::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #6f6f6f;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(33%);
    transition: transform 0.2s ease-out;
}

nav a:hover::before {
    transform: scaleX(100%);
    background: var(--fontDark);
}

.heroBanner {
    height: 100vh;
    width: 100%;
    border-bottom: 1px solid #f1f1f124;
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/456503.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    font-size: clamp(2.5rem, 10vw, 80px);
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: var(--fontDark);
    text-transform: uppercase;
    background-image: linear-gradient(to right, #999, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    padding: 0 0.8rem;
}

h1::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background-color: var(--fontDark);
    right: -10px;
    top: 0;
    animation: carret 1s infinite;
}

@keyframes carret {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subtitle {
    color: var(--fontDark);
    font-weight: 200;
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.subtitle.active {
    opacity: 1;
}

.heroLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f1f1f136;
    background: var(--bgDark);
    bottom: clamp(30px, 7.5vw, 75px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: var(--fontDark);
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.heroLink.active {
    opacity: 1;
}

.heroLink i {
    pointer-events: none;
}

@media (max-width: 600px) {
    .heroBanner {
        height: 95vh;
        width: 100vw;
    }

    h1::after {
        display: none;
    }

    nav {
        width: 90%;
        margin-left: 5%;
    }

    nav a {
        margin: 0 0.5rem;
        font-size: 0.8/rem;
    }
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 clamp(10px, 12vw, 120px);
    color: var(--fontDark);
    overflow-x: hidden;
}

.container section{
    padding: clamp(10px, 5vw, 50px) 0;
}

section h2 {
    font-size: clamp(30px, 6vw, 60px);
    margin: 0 10px;
    text-align: center;
    font-weight: 800;
}

.sectionSubtitle {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    margin-bottom: clamp(15px, 5vw, 50px);
}

.discover {
    margin-top: 50px;
}

.discover h2 {
    margin-bottom: 3rem;
}

.discoverContent {
    max-height: 500px;
    display: flex;
    justify-content: center;
}

.textDiscoverContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 1rem 0;
}


.textDiscoverContent p {
    line-height: 1.4;
    font-weight: 200;
    padding-right: 70px;
}

.discoverLink {
    max-width: 175px;
    padding: 10px 15px;
    color: var(--fontDark);
    margin-top: 50px;
    text-decoration: none;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f1f1f168;
}

.discoverContent img {
    width: 50%;
    object-fit: cover;
}

h2,
h3,
.sectionSubtitle,
.textDiscoverContent > *,
.discoverMainImage,
.rightSkillsContent,
.leftSkillsContent,
.skillsContainer h3,
.logoTools {
    opacity: 0;
    transform: translateY(-5px);
    transition: 
    opacity 0.5s 0.3s ease-out,
    transform 0.5s 0.3s ease-out;
}

h2.active,
h3.active,
.sectionSubtitle.active,
.textDiscoverContent > *.active,
.discoverMainImage.active,
.rightSkillsContent.active,
.leftSkillsContent.active,
.skillsContainer h3.active,
.logoTools.active  {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 900px) {
    .discover {
        margin: 20px 0 0 0;
    }

    .discoverContent {
        display: block;
        margin-top: 50px;
        text-align: center;
    }

    .textDiscoverContent {
        width: 100%;
    }

    .textDiscoverContent p {
        padding-right: 0;
    }

    .discoverLink {
        width: 140px;
        margin: 30px auto;
    }

    .discoverContent img {
        display: none;
    }

    h1::after {
        display: none;
    }
}

.projectsSideApparition {
    margin-top: 20px;
}

.sideApparitionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
    margin: 100px 0;
}

.sideSlideContent {
    padding: 0 20px;
    width: 35%;
}

.sideSlideContent h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.sideSlideContent:nth-child(even) h3, 
.sideSlideContent:nth-child(even) p {
    text-align: end;
}

.sideSlideContent p {
    margin-top: 20px;
    color: grey;
    line-height: 1.2;
}

.projectImg {
    height: auto;
    width: 65%;
    position: relative;
}

.sideApparitionContainer img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    object-position: center;
}

.imgOverlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.projectImg:hover img {
    opacity: 0.3;
}

.projectImg:hover .imgOverlay {
    opacity: 1;
}

.text {
    background-color: #111;
    color: var(--fontDark);
    border: 1px solid #2323239e;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
}

/* Animations */

.sideApparitionContainer {
    transform: translateX(30px) skew(20deg);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.sideApparitionContainer:nth-child(odd) {
    transform: translateX(-30px) skew(-20deg);
}

.sideApparitionContainer:nth-child(even) {
    transform: translateX(30px) skew(20deg);
}

.sideApparitionContainer.active {
    transform: translateX(0px) skew(0deg);
    opacity: 1;
}

.hidedProject {
    display: none;
}

.buttonMoreProject {
    width: 20%;
    padding: 10px 15px;
    color: var(--fontDark);
    margin-left: 40%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f168;
}

@media (max-width: 600px) {
    .sideApparitionContainer {
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
        margin: 2rem 0;
    }

    .sideSlideContent,
    .sideApparitionContainer img {
        width: 100%;
    }

    .sideSlideContent h3 {
        margin-top: 2rem;
    }

    .sideSlideContent h3,
    .sideSlideContent p {
        text-align: center;
    }

    .sideSlideContent:nth-child(even) h3,
    .sideSlideContent:nth-child(even) p {
        text-align: center;
    }
    
    .sideApparitionContainer img {
        height: 200px;
    }

    .sideSlideContent {
        margin-bottom: 30px;
        padding: 0;
    }

    .sideApparitionContainer:nth-child(odd) .projectImg {
        order: 2;
    }

    .sideApparitionContainer:nth-child(odd) .sideSlideContent {
        order: 1;
    }

    .projectImg {
        height: auto;
        width: 100%;
        position: relative;
    }

    .buttonMoreProject {
        margin-left: 15%;
        width: 70%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .sideApparitionContainer {
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
        margin: 2rem 0;
    }

    .sideSlideContent,
    .sideApparitionContainer img {
        width: 100%;
    }

    .sideSlideContent h3 {
        margin-top: 2rem;
    }

    .sideSlideContent h3,
    .sideSlideContent p {
        text-align: center;
    }

    .sideSlideContent:nth-child(even) h3,
    .sideSlideContent:nth-child(even) p {
        text-align: center;
    }
    
    .sideApparitionContainer img {
        height: 350px;
    }

    .sideSlideContent {
        margin-bottom: 30px;
        padding: 0;
    }

    .sideApparitionContainer:nth-child(odd) .projectImg {
        order: 2;
    }

    .sideApparitionContainer:nth-child(odd) .sideSlideContent {
        order: 1;
    }

    .projectImg {
        height: auto;
        width: 100%;
        position: relative;
    }

    .buttonMoreProject {
        margin-left: 15%;
        width: 70%;
    }
}

.skillsContainer h2 {
    margin-bottom: 4rem;
} 

.leftSkills,
.rightSkills {
    padding: 0 20px;
    text-align: center;
}

.skillsContent {
    display: flex;
    justify-content: center;
}

.skillsContent h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 300;
}

.skillsContent p {
    margin: 20px 0px;
    line-height: 1.4;
    font-weight: 200;
}

@media (max-width: 600px) {
    .skillsContent {
        flex-direction: column;
    }

    .skillsContent h3 {
        text-align: center;
    }

    .leftSkills,
    .rightSkills {
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .skillsContainer h2 {
        margin-bottom: 2rem;
    }

    img {
        object-fit: cover;

    }
}

.logoToolsContainer {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.toolsContainer h2 {
    margin-bottom: 3rem;
}

.toolsContainer h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: normal;
}

.logoTools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}

.logoTools img {
    object-fit: contain;
    height: 3rem;
    fill: white;
}

.logoTools svg {
    font-size: 3rem;
}


@media (max-width: 600px) {
    .toolsContainer p svg {
        margin: 25px;
    }

    .toolsContainer h3 {
        text-align: center;
        margin-top: 2rem;
    }

    .toolsContainer p {
        display: flex;
        justify-content: space-around;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    border-top: 1px solid #f1f1f167;
    color: var(--fontDark);
}

.footerLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f1f1f136;
    background: #f1f1f136;
    text-decoration: none;
    color: var(--fontDark);
}

.footerLogos {
    max-height: 300px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    footer {
        max-height: 120px;
    }

    .footerLogos {
        width: 100%;
        height: 120px;
    }
}

/* ############################################################################## */
/* ###############            Toggle mode Dark/Light              ############### */
/* ############################################################################## */

.darkLightToggle {
    position: fixed;
    z-index: 4;
    right: 1rem;
    bottom: 2rem;
    animation: toggleAnim 2.5s ease;
}

.checkbox {
    display: none;
}

.label {
    height: 54px;
    width: 30px;
    background-color: var(--bgLight);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 10px;
}

.iconLightMode:hover {
    transform: scale(1.1);
}

.label .ball {
    background-color: var(--bgDark);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translateY(0px);
    transition: transform 0.4s ease;
}

.checkbox:checked + .label .ball {
    transform: translateY(24px);
    background-color: var(--bgLight);
}

.checkbox:checked + .label {
    background-color: var(--bgDark);
}

.fa-moon {
    color:var(--bgDark);
}

.fa-sun {
    color: var(--fontDark);
}

/* ############################################################################## */
/* ###############                  Mode Light                    ############### */
/* ############################################################################## */

.light {
    background-color: var(--bgLight);
}

.light nav a {
    color: var(--fontLight);
}

.light nav a:hover::before {
    background: var(--fontLight);
}

.light .heroBanner {
    background: linear-gradient(to top, rgba(200, 200, 200, 0.40), rgba(200, 200, 200, 0.40)), url('../img/fond-blanc-hexagone-bleu-tech_1017-19366.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.light h1 {
    color: var(--fontLight);
    background-image: linear-gradient(to right, rgb(50, 50, 50), #111);
    color: transparent;
}

.light .subtitle {
    color: var(--fontLight);
}

.light .heroLink {
    border: 1px solid #0303036c;
    background: var(--bgLight);
    color: var(--fontLight);
}

.light .container {
    color: var(--fontLight);
}

.light .discoverLink {
    color: var(--fontLight);
    border: 1px solid #2323239e;
}

.light .buttonMoreProject {
    color: var(--fontLight);
    border: 1px solid #2323239e;
}

.logoToolsContainer {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.logoToolsContainerLanguages {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.logoToolsContainerLanguages div {
    display: flex;
    justify-content: space-around;
}

.toolsContainer h2 {
    margin-bottom: 3rem;
}

.toolsContainer h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: normal;
}

.light .fa-trello,
.light .fa-git-alt,
.light .fa-windows,
.light .fa-html5,
.light .fa-css3-alt,
.light .fa-js,
.light .fa-bootstrap,
.light .fa-php,
.light .fa-symfony,
.light .fa-wordpress,
.light .fa-database{
    color: var(--fontLight);
}

.fa-trello:hover {
    color: #227CF3;
}

.fa-git-alt:hover {
    color: #E84E31;
}

.fa-windows:hover {
    color: #01A9EA;
}

.fa-html5:hover {
    color: #DD4B25;
}

.fa-css3-alt:hover {
    color: #254BDD;
}

.fa-js:hover {
    color: #EFD81D;
}

.fa-bootstrap:hover {
    color: #7010EF;
}

.fa-php:hover {
    color: #7377AD;
}

.fa-symfony:hover {
    color: rgb(157, 157, 157);
}

.fa-wordpress:hover {
    color: #30353A;
}

.fa-database:hover {
    color: #DD8A00;
}

.light footer {
    border-top: 1px solid #2d2d2d67;
    color: var(--fontLight);
}

.light .footerLink {
    border: 1px solid #a0a0a036;
    background: #b9b9b936;
    color: var(--fontLight);
}

.light .footerLogos {
    color: var(--fontLight);
}

.light .customCursor {
    border: 1px solid #111111c1;
}

.light .customCursor::after {
    border: 2px solid #f1f1f1f1;
    background: #111;
}

.light h1::after {
    background-color: var(--fontLight)
}