@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata/Inconsolata-VariableFont_wdth_wght.ttf');
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf');
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgDark: #111;
    --fontDark: #f1f1f1;
    /* --bgLight: #f1f1f1;;
    --fontLight: #111; */
}

html {
    cursor: none;
}

a, button, input, label, textarea, img {
    cursor: none;
}

body {
    font-family: 'LeagueSpartan', Helvetica, sans-serif;
    background-color: var(--bgDark);
}

/* .customCursor {

} */

nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 0 15px;
    position: relative;
}

nav a::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #6f6f6f;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(33%);
    transition: transform 0.2s ease-out;
}

nav a:hover::before {
    transform: scaleX(100%);
    background: var(--fontDark);
}

.heroBanner {
    height: 100vh;
    width: 100%;
    border-bottom: 1px solid #f1f1f124;
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/img/heroBanner.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(2.5rem, 10vw, 80px);
    font-weight: 800;
    color: var(--fontDark);
    text-transform: uppercase;
    background-image: linear-gradient(to right, #999, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.subtitle {
    color: var(--fontDark);
    font-weight: 200;
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 10px;
}

.heroLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f1f1f136;
    background: var(--bgDark);
    bottom: clamp(30px, 7.5vw, 75px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: var(--fontDark);
}

.heroLink i {
    pointer-events: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 clamp(10px, 12vw, 120px);
    color: var(--fontDark);
    overflow-x: hidden;
}

.container section{
    padding: clamp(10px, 5vw, 50px) 0;
}

section h2 {
    font-size: clamp(30px, 6vw, 60px);
    margin: 0 10px;
    text-align: center;
    font-weight: 800;
}

.sectionSubtitle {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    margin-bottom: clamp(15px, 5vw, 50px);
}

.discover {
    margin-top: 50px;
}

.discover h2 {
    margin-bottom: 3rem;
}

.discoverContent {
    max-height: 500px;
    display: flex;
    justify-content: center;
}

.textDiscoverContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 1rem 0;
}


.textDiscoverContent p {
    line-height: 1.4;
    font-weight: 200;
    padding-right: 70px;
}

.discoverLink {
    max-width: 175px;
    padding: 10px 15px;
    color: var(--fontDark);
    margin-top: 50px;
    text-decoration: none;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f1f1f168;
}

.discoverContent img {
    width: 50%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .discover {
        margin: 20px 0 0 0;
    }

    .discoverContent {
        display: block;
        margin-top: 50px;
        text-align: center;
    }

    .textDiscoverContent {
        width: 100%;
    }

    .textDiscoverContent p {
        padding-right: 0;
    }

    .discoverLink {
        width: 140px;
        margin: 30px auto;
    }

    .discoverContent img {
        display: none;
    }
}

.projectsSideApparition {
    margin-top: 20px;
}

.sideApparitionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    margin: 100px 0;
}

.sideSlideContent {
    padding: 0 20px;
    width: 35%;
}

.sideSlideContent h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.sideSlideContent:nth-child(even) h3, 
.sideSlideContent:nth-child(even) p {
    text-align: end;
}

.sideSlideContent p {
    margin-top: 20px;
    color: grey;
    line-height: 1.2;
}

.sideApparitionContainer img {
    width: 65%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

/* Animations */

.sideApparitionContainer {
    /* transform: translateX(30px) skew(20deg);
    opacity: 0; */
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

/* .sideApparitionContainer:nth-child(odd) {
    transform: translateX(-30px) skew(-20deg);
}

.sideApparitionContainer:nth-child(even) {
    transform: translateX(30px) skew(20deg);
} */

.sideApparitionContainer.active {
    transform: translateX(0px) skew(0deg);
    opacity: 1;
}

@media (max-width: 600px) {
    .sideApparitionContainer {
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
        margin: 2rem 0;
    }

    .sideSlideContent,
    .sideApparitionContainer img {
        width: 100%;
    }

    .sideSlideContent h3,
    .sideSlideContent p {
        text-align: center;
    }

    .sideSlideContent:nth-child(even) h3,
    .sideSlideContent:nth-child(even) p {
        text-align: center;
    }
    
    .sideApparitionContainer img {
        height: 200px;
    }

    .sideSlideContent {
        margin-bottom: 30px;
        padding: 0;
    }

    .sideApparitionContainer:nth-child(odd) img {
        order: 2;
    }

    .sideApparitionContainer:nth-child(odd) .sideSlideContent {
        order: 1;
    }
}

.skillsContainer h2 {
    margin-bottom: 4rem;
} 

.leftSkills,
.rightSkills {
    padding: 0 20px;
}

.skillsContent {
    display: flex;
    justify-content: center;
}

.skillsContent h3 {
    font-weight: 300;
}

.skillsContent p {
    margin: 20px 0px;
    line-height: 1.4;
    font-weight: 200;
}

@media (max-width: 600px) {
    .skillsContent {
        flex-direction: column;
    }

    .skillsContent h3 {
        text-align: center;
    }

    .leftSkills,
    .rightSkills {
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .skillsContainer h2 {
        margin-bottom: 2rem;
    }
}

.logoToolsContainer {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.toolsContainer h2 {
    margin-bottom: 3rem;
}

.logoTools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}

.logoTools svg {
    font-size: 3rem;
}

@media (max-width: 600px) {
    .toolsContainer p svg {
        margin: 25px;
    }

    .toolsContainer h3 {
        text-align: center;
        margin-top: 2rem;
    }

    .toolsContainer p {
        display: flex;
        justify-content: space-around;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    border-top: 1px solid #f1f1f167;
    color: var(--fontDark);
}

.footerLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f1f1f136;
    background: #f1f1f136;
    text-decoration: none;
    color: var(--fontDark);
}

.footerLogos {
    max-height: 300px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    footer {
        max-height: 120px;
    }

    .footerLogos {
        width: 100%;
        height: 120px;
    }
}